@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll {
    @apply scrollbar-thumb-transparent scrollbar-track-transparent scrollbar-thin;
  }
}

@layer components {
  /* header */
  .dashboard-header {
    @apply bg-[#42464f] text-white py-2 flex justify-between px-5 sticky 
    top-0 z-50;
  }

  /* side bar */
  .side-bar-container {
    @apply lg:w-[200px] z-50;
  }
  .side-bar-wrapper {
    @apply fixed top-11 left-0 w-[200px] bg-[#42464f] text-white h-full 
    overflow-auto scrollbar-thumb-gray-300 scrollbar-track-transparent scrollbar-thin;
  }
  .side-bar-container .main-side-menu {
    @apply py-2 w-full text-left pl-5 font-medium border-l-2 
    border-[#42464f] flex justify-between pr-2 items-center;
  }
  .side-bar-container .main-side-menu > div {
    @apply flex gap-3 items-center;
  }
  .side-bar-container a.highlight {
    @apply bg-[#535760b4] border-purple-500;
  }
  .side-bar-container .sub-side-menu {
    @apply py-2 w-full text-left pl-7 font-medium bg-[#535760b4] hover:bg-[#3b3e46] 
    flex gap-3 items-center;
  }
  .side-bar-container a svg {
    @apply text-gray-300;
  }

  /* site info */
  .site-info-container {
    @apply my-5 lg:grid grid-cols-3 gap-5 w-3/4 mx-auto items-center;
  }
  .site-info-container .item {
    @apply rounded shadow-md px-5 py-7 bg-gray-100 h-32;
  }
  .site-info-container .item p {
    @apply font-medium text-center mb-3 underline underline-offset-4;
  }

  /* Breaking news page */
  .breaking-news-container {
    @apply mt-5 bg-gray-100 rounded-md shadow;
  }
  .breaking-news-container div {
    @apply hover:bg-gray-200 py-2 border-b-2;
  }
  .add-breaking-news {
    @apply w-full mx-auto my-5 h-fit relative;
  }
  .add-breaking-news textarea {
    @apply w-full focus:outline-none px-5 py-5 rounded-md shadow-md text-xl resize-none bg-gray-100;
  }
  .add-breaking-news > h3 {
    @apply text-center py-4 border-b-2 bg-gray-100 rounded-t-md;
  }

  /* menus */
  .dashboard-main-menus-container {
    @apply w-full mx-5 md:w-3/4 md:mx-auto my-5 bg-gray-100 shadow rounded-md relative;
  }
  .dashboard-main-menus-container header {
    @apply flex justify-between py-2 px-3 text-lg font-medium border-b-2 items-center 
    bg-gray-50;
  }
  .dashboard-main-menus-container .menus-wrapper .item {
    @apply py-2 px-5 border-b text-lg flex justify-between items-center 
    hover:bg-gray-50;
  }
  .dashboard-main-menus-container .menus-wrapper .accordion {
    @apply bg-slate-50;
  }
  .dashboard-main-menus-container .menus-wrapper .sub-menu {
    @apply py-2 px-5 text-lg hover:bg-gray-100 flex justify-between items-center;
  }
  .add-menus-wrapper {
    @apply fixed top-2/4 left-0 md:left-2/4 -translate-y-2/4 md:-translate-x-[40%] w-full 
    md:w-2/4 bg-white px-5 py-10 text-lg z-40 shadow rounded;
  }
  .control-wrapper {
    @apply rounded shadow text-gray-500 absolute top-0 right-0 bg-white w-[200px] z-30;
  }
  .control-wrapper button {
    @apply hover:bg-gray-100 w-full py-2 space-x-2 text-left px-5;
  }
  /* foote menus */
  .dashboard-footer-menu-wrapper {
    @apply grid md:grid-cols-2 lg:grid-cols-3 gap-5 mb-5;
  }
  .dashboard-footer-menu-wrapper header {
    @apply px-5 bg-gray-100 rounded shadow flex justify-between items-center
    border-b-2 py-2;
  }
  .dashboard-footer-menu-wrapper .item {
    @apply bg-gray-100 rounded shadow px-5;
  }
  .dashboard-footer-menu-wrapper p {
    @apply font-medium text-center;
  }
  .footer-modal {
    @apply absolute top-14 left-0 w-full px-3 py-5 bg-white flex flex-col items-center 
    gap-3 rounded shadow z-40;
  }

  /* news page */
  .create-news-container {
    @apply w-full mx-5 lg:w-3/4 lg:mx-auto overflow-hidden;
  }
  .create-news-container .news-area {
    @apply grid md:grid-cols-3 lg:grid-cols-4 gap-5 flex-grow my-5;
  }
  .create-news-container textarea {
    @apply resize-none w-full p-5 text-lg focus:outline-none rounded bg-gray-100;
  }

  /* all news page and all user page */
  .allnews-container,
  .alluser-container {
    @apply my-5 w-full mx-5 lg:w-3/4 lg:mx-auto bg-gray-100 rounded-md shadow h-fit;
  }
  .allnews-container table,
  .alluser-container table {
    @apply w-full;
  }
  .allnews-container table th,
  .allnews-container table td,
  .alluser-container table th,
  .alluser-container table td {
    @apply py-3 px-2 text-center;
  }
  .allnews-container table thead tr,
  .alluser-container table thead tr {
    @apply border-b-2 bg-[#42464f] text-white;
  }
  .allnews-container table tbody tr,
  .alluser-container table tbody tr {
    @apply border-b hover:bg-gray-200;
  }
  .controll-menus {
    @apply absolute top-2 right-0 flex flex-col bg-white rounded shadow z-40;
  }
  .controll-menus button {
    @apply px-5 py-2 hover:bg-gray-100;
  }

  /* add user  */
  .add-user-container {
    @apply w-full mx-5 lg:w-3/4 lg:mx-auto my-5;
  }
  .alluser-container {
    @apply relative;
  }
  .add-user-container form {
    @apply w-full md:w-3/6 flex flex-col items-center gap-y-5 mx-auto bg-gray-100 rounded-md 
    shadow px-5 py-7;
  }
  .update-user-container {
    @apply absolute top-16 left-2/4 -translate-x-2/4 bg-white rounded shadow px-7 py-10
    space-y-4;
  }

  /* dasboard page */
  .dashboard-container {
    @apply w-full mx-5 lg:w-3/4 lg:mx-auto;
  }
  .dashboard-container .post-details {
    @apply md:grid grid-cols-3 gap-5 my-2 space-y-5 md:space-y-0;
  }
  .dashboard-container .post-details .item {
    @apply bg-gray-200 rounded-md shadow py-5 space-y-3 text-center;
  }
  .dashboard-container .post-details .item svg {
    @apply px-4 py-3 text-green-900 rounded-md;
  }
}

.side-bar-container {
  min-height: calc(100vh - 3rem);
}
.hide-sub {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.show-sub {
  border-bottom-width: 1px;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 7px;
}

.dashboard-main-menus-container .menus-wrapper .accordion {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.dashboard-main-menus-container .menus-wrapper .accordion.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
