@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-xl font-semibold;
  }
}

@layer utilities {
  .link {
    @apply hover:text-gray-500;
  }
  a {
    @apply block;
  }
  input {
    @apply border rounded py-2 px-4 outline-none text-lg w-full hover:border-gray-400;
  }
  form {
    @apply space-y-3 w-2/6 mx-auto my-20 rounded shadow-md px-5 py-5 flex flex-col 
    items-center bg-white z-50;
  }
}

@layer components {
  .btn {
    @apply rounded py-1 px-4 bg-purple-600 uppercase font-semibold hover:bg-purple-800
    text-white shadow shadow-purple-100 hover:shadow-md hover:shadow-purple-200;
  }

  .advertise-slot a {
    @apply px-10 grid grid-cols-1 my-4 cursor-pointer;
  }
  .goto-top-container {
    @apply bg-purple-600 text-white justify-center items-center shadow-md 
    rounded-full h-12 w-12 text-xl fixed z-50 bottom-10 right-5 cursor-pointer;
  }

  .footer-bottom-menu {
    @apply flex justify-center lg:justify-between flex-wrap gap-x-3 mt-5 mb-3 border-t 
    pt-2;
  }

  .login-register-container {
    @apply bg-[#00000049] fixed top-0 z-[60] left-0 w-full h-full;
  }

  .alert-container {
    @apply fixed bottom-5 right-2 text-white py-2 px-6 rounded-md 
    shadow z-50 font-medium;
  }
}

.goto-top-container {
  animation: Gototop 250ms ease-out;
}
.alert-container {
  animation: Alert 250ms ease-out;
}
.login-form {
  animation: LoginForm 250ms ease-out;
}

@keyframes Gototop {
  0% {
    right: -10px;
  }
  100% {
    right: 1.25rem;
  }
}
@keyframes Alert {
  0% {
    right: -100%;
  }
  100% {
    right: 0.5rem;
  }
}
@keyframes LoginForm {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
